* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden; 
}
.hero-content{
    display: block;
}

.slider-container {
    width: 100vw; 
    height: 100vh; 
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.hero-text-overlay {
    position: absolute;
    top: 27%; 
    left: 0; 
    right: 0;
    margin: 0 auto; 
    max-width: 1200px; 
    z-index: 30; 
    padding-left: 80px; 
    display: flex;
    align-items: center; 
    gap: 37px; 
}
.hero-phrase {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 350px; 
    text-align: left;
    color: white; 
    font-size: 63px; 
    font-weight: 700; 
    line-height: 1.1;
    text-shadow: 0 2px 4px rgba(27, 27, 27, 0.5); 
    margin-bottom: 15px; 
}
.hero-loader {
    display: flex;
    flex-direction: column; 
    gap: 29px;
}

.loader-line {
    border-radius:20px ;
    width: 22px;
    height: 48px; 
    background-color: rgb(168, 168, 168);
    transition: background-color 0.3s ease;
}

.loader-line.active {
    background-color: green; 
}
.hero-assistant-button {
    background-color: green; 
    color: white;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-assistant-button:hover {
    background-color: #c02d2a;
}
.cta-search-icon {
    margin-right: 10px;
    font-size: 24px !important;
}
.slide {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out;
}
.slide.active {
    opacity: 1; 
    z-index: 10; 
}
.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    gap: 8px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active-dot, .dot:hover {
    background-color: #717171;
}