.category-section-wrapper {
    padding: 40px 0; 
    background-color: white; 
    margin-bottom: 50px;
}

.category-section-wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: block; 
}
.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 60px;
}
.section-title1 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center; 
    display: block; 
}

.category-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 23px 10px; 
    background-color: transparent; 
    border-radius: 8px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); 
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.2s;
    text-decoration: none;
    border: 2px solid gainsboro;
}

.category-tile:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    transform: translateY(-5px); 
    border-color: #cccccc;
    
    opacity: 1;
}

.category-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #f0f0f0; 
    margin-bottom: 10px;
    border: 1px solid #e0e0e0; 
    transition: background-color 0.2s;
}
.category-icon-bg :hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.category-tile:hover .category-icon-bg {
    background-color: #e5e5e5; 
}

.category-icon {
    color: green !important; 
    font-size: 36px !important;
}

.category-name {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: #333333; 
    max-width: 120px; 
}